<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
</head>
<body>

<h2>Patient Registration</h2>

<form method="POST">
    {% csrf_token %}

    Name:<br>
    <input type="text" name="name"><br><br>

    Age:<br>
    <input type="number" name="age"><br><br>

    Gender:<br>
    <input type="text" name="gender"><br><br>

    Phone:<br>
    <input type="text" name="phone"><br><br>

    Email:<br>
    <input type="email" name="email"><br><br>

    Address:<br>
    <textarea name="address"></textarea><br><br>

    <button type="submit">Register</button>

</form>

</body>
</html>